<div class="row">
    <div class="col-md">
        <div class="card text-center mb-3">
            <h5 class="card-title">Total Trainers</h5>
        </div>
        <div class="card-body">
            <h3 class="card-title">{{ total_trainers }}</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <div class="card text-center mb-3">
            <h5 class="card-title">Total Pokemon</h5>
        </div>
        <div class="card-body">
            <h3 class="card-title">{{ total_pokemon }}</h3>
        </div>
    </div>
</div>