{% extends "base.html" %} {% load static %} {% block content %}

<div class="container-fluid d-flex flex-column">

  <div class="text-center">
    <br />
    <h1>{{ pokemon.name }}</h1>
    <hr />
  </div>

  

  <div class="d-inline-flex flex-column text-center">
    <div>
      <img class="profile-pic w-25" src="{{pokemon.pokemon_pic.url}}" />
    </div>

    <hr />

    <h3>Available Pokemon:</h3>
    <br>
    <div class="d-flex justify-content-evenly">
      <br>
      <table class="table table-striped w-25 text-center" data-bs-theme="dark">
        <tr>
          <th>Number</th>
          <th>Name</th>
        </tr>
        <tr>
          <td>{{ pokemon.num }}</td>
          <td>{{ pokemon.name }}</td>
        </tr>
      </table>

      <div class="w-25 text-bg-dark">
        {{ pokemon.description }} 
      </div>
    </div>
  </div>
</div>
{% endblock content %}
